@tailwind base;
@tailwind components;
@tailwind utilities;
 
html{
   height: 100%;
}

body{
   background-image: url('./assets/benz.jpg');
   background-size: cover;
   margin: 0;
   padding: 0 20px;
   display: flex;
   justify-content: center;

}
*{
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 